.rangkingTable {
  /* display: flex; */
  width: 100%;
  border-collapse: collapse;
}

.rangkingTable tbody {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
}

.rangkingTable tr {
  width: 100%;
}

.rangkingTable tr td {
  text-align: center;
}

.rangkingTable_row {
  width: 100%;
}

.rangkingTable_title {
  background: #6633ff;
  color: white;
}

.rangkingTable_split {
  width: 40px;
}
.rangkingTable_rank {
  width: 40px;
}

.rangkingTable_name {
  width: 20%;
}

.rangkingTable_winningpoint {
  width: calc(80% - 80px) / 6;
}

.rangkingTable_matchNum {
  width: calc(80% - 80px) / 6;
}

.rangkingTable_goals {
  width: calc(80% - 80px) / 6;
}

.rangkingTable_losts {
  width: calc(80% - 80px) / 6;
}

.rangkingTable_goalsLosts {
  width: calc(80% - 80px) / 6;
}

.rangkingTable_content:nth-child(-2n + 13) {
  background: rgba(153, 204, 204, 0.3);
}

.rangkingTable_content_split {
  border-top: 1px solid red;
}
