.vsStat_seletTeam {
  display: flex;
  justify-content: flex-end;
}

.vsStat_text {
  display: flex;
  justify-content: center;
}

.vsStat_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vsStat_home_item,
.vsStat_away_item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 4rem;
}

.vsStat_dnd_dustbin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  width: 100px;
  height: 100px;
  border: 1px dashed #a4a4a4;
}

.vsStat_dnd_dustbin_active,
.vsStat_dnd_dustbin_canDrop {
  color: #a4a4a4;
}

.vsStatItem {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 5px 0px;
}

.vsStat_graph {
  width: 50%;
}

@media all and (max-width: 768px) {
  .vsStat_dnd_dustbin {
    width: 50px;
    height: 100px;
  }

  .vsStat_content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .vsStat_home_item {
    order: 2;
  }

  .vsStat_home_dustbin {
    order: 3;
  }

  .vsStat_graph {
    order: 1;
  }
  .vsStat_away_dustbin {
    order: 4;
  }
  .vsStat_away_item {
    order: 5;
  }

  .vsStat_graph {
    width: 90%;
  }
}
