.stadium_wrapper {
  display: flex;
  padding-top: 30px;
}

.stadiumMap_label {
  background: white;
  border: 1px solid gray;
  font-size: 1rem;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#kakaoMap {
  width: 500px;
  height: 500px;
}

.stadiumInfo_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 500px);
}

.stadiumInfo {
  width: 400px;
}

.stadiumInfo_row {
  display: flex;
  width: 100%;
}

.stadiumInfo_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background: lavender;
}
.stadiumInfo_title {
  width: 100px;
  text-align: center;
}

.stadiumInfo_seperator {
  width: 10px;
}

.stadiumInfo_content {
  width: 290px;
}

.stadiumInfo_teamCombobox_wrapper {
  position: absolute;
  padding: 5px;
  z-index: 99999;
}

.stadiumInfo_teamCombobox {
  min-width: 100px;
}
@media all and (max-width: 768px) {
  #kakaoMap {
    width: 100%;
  }

  .stadiumInfo_wrapper {
    width: 100%;
  }

  .stadiumInfo {
    width: 100%;
  }
}
