.stadium_wrapper {
  display: flex;
}

.stadiumMap_label {
  background: white;
  border: 1px solid gray;
  font-size: 1rem;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#kakaoMap {
  width: 500px;
  height: 500px;
}

@media all and (max-width: 768px) {
  #kakaoMap {
    width: 100%;
  }
}
