.circular_graph_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.circular_graph_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.circular_graph_title {
  width: 100%;
}

.circular_graph_table_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.circular_graph_table {
  width: 90%;
}
.circular_graph_table_teamColor {
  width: 10%;
}

.circular_graph_table_teamName {
  width: 30%;
  text-align: center;
}

.circular_graph_table_teamValue {
  width: 60%;
}

@media all and (max-width: 768px) {
  .circular_graph_row {
    flex-direction: column;
  }

  .circular_graph_table_div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }

  .circular_graph_table {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .circular_graph_table tbody {
    width: 70%;
  }
  .circular_graph_table_teamColor {
    width: 10%;
  }

  .circular_graph_table_teamName {
    width: 20%;
    text-align: center;
  }

  .circular_graph_table_teamValue {
    width: 40%;
  }

  .circular_graph_div {
    display: flex;
    justify-content: center;
  }
}
