.rangking_round {
  width: 100%;
}

.rangking_round_row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rangking_round_row_title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.rangking_round_row_combo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.rangking_round_graph {
  position: relative;
}
.rangking_round_graph_grid {
  position: absolute;
}
